.profileUpdateForm {

    &__container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        background-color: white;
        padding: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            height: 30px;
            padding: 0 5px;
        }
        
        input, label {
            display: block;
            width: 100%;
            font-size: 12px;
        }

        .error {
            font-size: 10px;
            text-align: right;
            padding: 2px 0px;
            color: crimson;
        }
    }
}