.banner {
    position: relative;
    height: 300px;

    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__card {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        height: 200px;
        width: 300px;
        padding: 25px;
        background-color: white;

        @include screen-tablet {
            width: 200px;
            height: 133px;
            gap: 10px;
            font-size: 12px;
            padding: 15px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}